body,
html {
  margin: 0;
  height: 100%;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
h1{
  text-align: center;
  color: green;
  padding: 10px;
  border: 5px;
}
.about-section{
  background: url("images/dee.jpg") rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
  color: white;
  background-blend-mode: multiply;
}
.form{
  text-align: center;
  background: url("images/dee.jpg") rgba(0, 0, 0, 0.5);
  /*background-color: blue ;*/
  width: 100%;
  height: 35vh;
  background-position: center;
  background-size: cover;
  color: white;
  background-blend-mode: multiply;
  padding: 10%;
}
#output{
  padding: 5px;
  border: 2px solid blue;
}
